@media only screen and (min-width:900px)  
{
	
body{
   background-color:  #a8b3bd;
}



h1{
    text-align: center;
        position: absolute;

    left: 20%;
}

#button1{
   
position: absolute;
    
    left: 40%;
}

#logo{
       width: 100px;
    height:70px;
    position: absolute;

    top: 7%; 
}

.rounded-circle{
    display: inline;
    text-align: center;
    background-color: green;
    height: 500px;
    width: 500px;
    color: white;
}

#ans1{
     height: 50px;
    width: 50px;
    position: absolute;
    left: 35%;
    
}

#ans2{
     height: 50px;
    width: 50px;
    position: absolute;
    left: 30%;
}


#ans3{
     height: 50px;
    width: 50px;
    position: absolute;
    left: 45%;
}



#ans4{
     height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
}



#ans5{
     height: 50px;
    width: 50px;
    position: absolute;
    left: 40%;
}

#button1{
    position: absolute;
    left: 35%;
}

}